extends ../../../views/layouts/default

block content
   .container
      .row
         .col-md-12
            .page-header
               h1 Enrollments
      .row
         .col-md-8
            .display-picture-container(style='float: left; margin: 0 20px 20px 0;')
               img(src='/#{user.display_picture}', width=100)
            h3.no-top-bottom-margin #{user.name}
            p.no-top-bottom-margin #{user.id_number}
            p #{user.major.name}
         .col-md-4
            a.btn.btn-success.btn-block(href='/users/#{user._id}/enrollments/add') Add New Enrollment
      .row
         .col-md-12
            p &nbsp;
            table.table.table-hover
               thead
                  th Course Name
                  th Schedule Detail
                  th Lecturer
               tbody
                  each enrollment in enrollments
                     tr
                        td
                           p
                              strong #{enrollment.course.name}
                        td
                           p Every day_code(#{enrollment.schedule.day_code})
                        td
                           p
                              strong #{enrollment.lecturer.display_name}
