extends ../../../views/layouts/default

block content
   .container
      .row
         .col-md-12
            .page-header
               h1 Index of User
      .row
         .col-md-2.col-md-offset-10
            a.btn.btn-block.btn-success(href='/users/add') Add New User
      .row
         .col-md-12
            table.table
               thead
                  th
                     p Name
                  th
                     p E-mail
                  th
                     p Major
                  th
                     p Role
                  th
                     p Action
               tbody
                  each user in users
                     tr
                        td
                           p #{user.name}
                        td
                           code #{user.email}
                        td
                           span.label(style='background-color: #{user.major.color}') #{user.major.name}
                        td
                           if (user.role == 'administrator')
                              span.label.label-danger Administrator
                           if (user.role == 'lecturer')
                              span.label.label-warning Lecturer
                           if (user.role == 'student')
                              span.label.label-success Student
                           if (user.role == 'staff')
                              span.label.label-default Staff
                        td
                           if (user.role == 'student')
                              a.btn.btn-sm.btn-info(href='/users/#{user._id}/enrollments') Enrollments
                           else
                              p(align='center')
                                 em - no action available -
