extends ../../../views/layouts/default

block content
   .small-banner.class-meetings
      .overlay
         .container
            .row
               .col-md-12
                  .info
                     h1 Class Meetings 
                        small Student Attendance Information System
   .container
      .row
         .col-md-12
            .page-header
               h1 Index of Class Meeting
      .row
         .col-md-12
            table.table.table-hover
               thead
                  th
                     p Course
                  th
                     p Lecturer
                  th
                     p Start Time
                  th
                     p Verified?
                  th
                     p Actions
               tbody
                  each classMeeting in classMeetings
                     tr
                        td
                           p 
                              strong
                                 a(href='/class_meetings/#{classMeeting._id}/attendances') #{classMeeting.course.name}
                        td
                           p #{classMeeting.lecturer.name}
                        td
                           p #{classMeeting.created}
                        td
                           if (classMeeting.verified)
                              span.label.label-success Verified
                           else
                              span.label.label-default Not Verified
                        td                           
                           a.btn.btn-sm.btn-info(href='/class_meetings/#{classMeeting._id}/attendances') View Attendances
