extends ../../../views/layouts/default

block content
   .small-banner.schedules
      .overlay
         .container
            .row
               .col-md-12
                  .info
                     h1 Schedules 
                        small Student Attendance Information System
                        
   .container
      .row
         .col-md-12
            .page-header
               .row
                  .col-md-10
                     h1 Schedules
                  .col-md-2
                     a.btn.btn-block.btn-success.btn-top-action(href='/schedules/add') Add New Schedule
      .row
         .col-md-12
            table.table.table-hover
               thead
                  th Day Code
                  th Start Time
                  th End Time
                  th Course
                  th Major
                  th Lecturer
                  th Actions
               tbody
                  each schedule in schedules
                     tr
                        td
                           p #{schedule.day_code}
                        td
                           p #{schedule.start_time}
                        td
                           p #{schedule.end_time}
                        td
                           p #{schedule.course.name}
                        td
                           p
                              if (schedule.course.major)
                                 span(style='height: 12px; width: 12px; background-color: #{schedule.course.major.color}; display: inline-block; margin-right: 10px;')
                                 | #{schedule.course.major.name}
                              else
                                 span(style='height: 12px; width: 12px; background-color: #ccc; display: inline-block; margin-right: 10px;')
                                 | Public
                        td
                           p #{schedule.lecturer.display_name}
                        td
                           a.btn.btn-sm.btn-info(href='/schedules/#{schedule._id}/enrollments') Enrollments
                           | 
                           a.btn.btn-sm.btn-warning(href='/schedules/#{schedule._id}/edit') Edit
